<style>
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
  }
    
    div.cell{
        max-width:1100px !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
    
    h1 {
        font-family: Computer Modern !important;
    }
    
    h4{
        margin-top:12px !important;
        margin-bottom: 3px !important;
       }

    div.text_cell_render{
        font-family: Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
        line-height: 145% !important;
        font-size: 130% !important;
        max-width:1100px !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
    
    .CodeMirror{
            font-family: "Source Code Pro", source-code-pro, Consolas, monospace !important;
    }
    
    .warning{
        color: rgb( 240, 20, 20 )
        }  
    
    hr.style-end {
    border: 0 !important;
    height: 1px !important;
    text-align: center !important;
    background: #333 !important;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc) !important; 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc) !important; 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc) !important; 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc) !important; 
    }

    hr.style-end:after {
    content: "⚜" !important;
    display: inline-block !important;
    position: relative !important; 
    top: -0.5em !important;  
    font-size: 1.5em !important;
    padding: 0 0.25em !important;
    background: white !important;
    }
    
/*  Center figures, etc
    .ui-wrapper {
        margin-left: auto !important !important;
        margin-right: auto !important !important;
    }
 */
    
</style>
<script>
    MathJax.Hub.Config({
                        TeX: {
                           extensions: ["AMSmath.js"]
                           },
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
                },
                displayAlign: 'center', // Change this to 'center' to center equations.
                "HTML-CSS": {
                    styles: {'.MathJax_Display': {"margin": 4}}
                }
        }) !important;
</script>
