<style>
    @font-face {
        font-family: "Computer Modern" !important;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunss.otf') !important;
    }
    @font-face {
        font-family: "Computer Modern" !important;
        font-weight: bold !important;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunsx.otf') !important;
    }
    @font-face {
        font-family: "Computer Modern" !important;
        font-style: oblique !important;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunsi.otf') !important;
    }
    @font-face {
        font-family: "Computer Modern" !important;
        font-weight: bold !important;
        font-style: oblique !important;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunso.otf') !important;
    }
    
    div.cell{
        max-width:1100px !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
    
    h1 {
        font-family: Computer Modern !important;
    }
    
    h4{
        margin-top:12px !important;
        margin-bottom: 3px !important;
       }

    div.text_cell_render{
        font-family: Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
        line-height: 145% !important;
        font-size: 130% !important;
        max-width:1100px !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
    
    .CodeMirror{
            font-family: "Source Code Pro", source-code-pro, Consolas, monospace !important;
    }
    
    .warning{
        color: rgb( 240, 20, 20 )
        }  
    
    hr.style-end {
    border: 0 !important;
    height: 1px !important;
    text-align: center !important;
    background: #333 !important;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc) !important; 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc) !important; 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc) !important; 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc) !important; 
    }

    hr.style-end:after {
    content: "⚜" !important;
    display: inline-block !important;
    position: relative !important; 
    top: -0.5em !important;  
    font-size: 1.5em !important;
    padding: 0 0.25em !important;
    background: white !important;
    }
    
/*  Center figures, etc
    .ui-wrapper {
        margin-left: auto !important !important;
        margin-right: auto !important !important;
    }
 */
    
</style>
<script>
    MathJax.Hub.Config({
                        TeX: {
                           extensions: ["AMSmath.js"]
                           },
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
                },
                displayAlign: 'center', // Change this to 'center' to center equations.
                "HTML-CSS": {
                    styles: {'.MathJax_Display': {"margin": 4}}
                }
        }) !important;
</script>
