<script>
    MathJax.Hub.Config({
                        TeX: {
                           extensions: ["AMSmath.js"]
                           },
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
                },
                displayAlign: 'center', // Change this to 'center' to center equations.
                "HTML-CSS": {
                    styles: {'.MathJax_Display': {"margin": 4}}
                }
        });
</script>

<style>
    @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
    }
    @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
        font-weight: bold;
    }
    @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
        font-style: oblique;
    }
    @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunso.otf');
        font-weight: bold;
        font-style: oblique;
    }

    div.cell {
        max-width: 1100px;
    }
    
    h1 {
        font-family: Computer Modern;
    }
    
    h4 {
        margin-top: 12px;
        margin-bottom: 3px;
    }

    div.text_cell_render {
        font-family: Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        line-height: 145%;
        font-size: 130%;
        width: 100%;
        max-width: 1100px;
    }
    
    .CodeMirror {
        font-family: "Source Code Pro", source-code-pro, Consolas, monospace;
    }
    
    .warning {
        color: rgb( 240, 20, 20 )
    }  
  
   
    hr.style-end {
        border: 0px;
        height: 1px;
        text-align: center;
        background: #333;
        background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
        background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
        background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
        background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
    }

    hr.style-end:after {
        content: &#x269C;
        left: 50%;
        position: absolute;
        /* Controls the whitespace around the symbol */
        padding: 0px;
        background: #fff;
    }
    
/*  Center figures, etc
    .ui-wrapper {
        margin-left: auto !important;
        margin-right: auto !important;
    }
*/
    
</style>
